@font-face {
    font-family: 'Medium';
    src: url(fonts/AeonikPro-Medium.woff2);
}
@font-face {
    font-family: 'Black';
    src: url(fonts/AeonikPro-Black.woff2);
}
@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Regular.woff2);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}
body{
    background-color: rgb(255, 255, 255);
    min-height: 100%;
    min-width: 320px;
    margin: 0;
}
.footer-company-response{
    display: none;
}
.overlay{
    position: relative;
    z-index: 0;
}
.header-container{
    /* background-color: transperant */
    /* background-color: rgb(66, 156, 216); */
    background-color: transparent;
}
.header-subcontainer{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    width: 100%;
    padding: 0.75rem 1.25rem;
    box-sizing: border-box;
    margin: 0px;
    font: inherit;
}
.title-link{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-width: 0px;
    color: inherit;
    text-decoration: none;
}
.title-revolut{
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 2rem;
    display: flex;
}
.revolut-logo{
    margin-top: -2px;
    height: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
}

.header-menu-container{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;

}
.menu-button{
    cursor: pointer;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    border: none;
    font: inherit;
    color: inherit;
    text-decoration: none;
    text-align: inherit;
    outline-color: transparent;
    background: transparent;
    border-radius: 0.75rem;
    padding: 0px;
    margin: 0px;

}
.menu{
    background-color: white;
    mask-image: url("https://assets.revolut.com/assets/icons/Menu.svg");
    -webkit-mask-image: url("https://assets.revolut.com/assets/icons/Menu.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    width: 24px;
    height: 24px;
    display: block;
    color: white;
}
.main-container{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    max-width: 100%;
    min-height: 100vh;
}
.main-section{
    position: relative;
    top: -56px;
    z-index: 1;
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    font: inherit;
    margin-bottom: -56px;
}
.main-subsection{
    position: relative;
    margin: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font: inherit;
    padding-top: 56px;
    overflow: hidden;
    min-height: 100vh;
}
.picture-lay{
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    overflow: hidden;
    background: linear-gradient(rgb(76, 138, 204) 0%, rgb(57, 145, 216) 100%);
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    height: 100%;
}
@media screen and (min-width: 75px) {
    .picture-lay{
        transform: translateY(24px);
    }
}

.main-bg-img{
    color: transparent;
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, 0px) scale(1.75);
    transform-origin: 50% 100%;
    object-fit: cover;
    object-position: center bottom;
}
.main-item-img{
    color: transparent;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    transform-origin: 50% 100%;
    pointer-events: none;
    display: block;

    width: 1761.98px;
    height: 978.88px;


    /* width: 1590.62px; */
    /*{ height: 883px;} */
    /* height: 908px; */
    /*{ height: 797px;} */


    min-height: 370px;
    min-width: 665px;  
}

.section-two{
    font: inherit;
    margin: 0px auto;
    padding-bottom: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 2rem;
    width: 100%;
    max-width: 1000px;
}
.section-two-sub{
    position: relative;
    z-index: 1;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-height: 0px;
    display: flex;
}
@media screen and (min-width: 320px) {
    .main-text1{
        font-size: 36px !important;
    }
}
.main-text1{
    
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    color: #fff;
    min-width: 0px;
}

.main-text2{
    flex-direction: column;
    gap: 0.25rem;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-height: 0px;
    display: flex;
}

.sub-text{
    font-family: 'Medium', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    letter-spacing: normal;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    color: #fff;
    width: 100%;
    min-width: 0px;
}

.download-button{
    text-decoration: none;
    font-family: 'Medium', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: normal;
    height: auto;
    width: min-content;
    max-width: 240px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #191c1f;
    color: #fff;
    border-radius: 50px;
}


.download-text{


    border-radius: 10px;
    display: block;
    max-width: 100%;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
}

/* inside content */
.center-box-container{
    align-items: center;
    justify-content: center;
    margin-top: 2rem !important;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    display: flex;
}

.inside-box{
    position: relative;
    padding: unset;
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    font: inherit;
    margin-bottom: 1rem;
    width: 100%;
    overflow: hidden;
    height: 471px;
    border-width: 3px;
    border-style: solid;
    border-image: initial;
    border-color: #c9c9cd;
    /* border-radius: 19.725px; */
    border-radius: calc(2.5vh);
}

.insde-box-2{
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.inside-img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
}

.inside-container{
    width: 100px;
    height: 0px;
    padding-bottom: 70.86614173228346;
}
.content-two{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font: inherit;
    padding-bottom: 3rem;
    padding-top: 3rem;
    width: 100%;
    overflow: hidden;
}

.section-three-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    font: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 1000px;
}

.content-two-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    font: inherit;
    margin-bottom: 1rem;
    min-height: 0px !important;
    min-height: 0px;
}
.salary-title{
    font-size: 2rem !important;
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    text-align: start;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-width: 0px;
}
.salary-description{
    font-family: 'Medium', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    letter-spacing: normal;
    text-align: start;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    min-width: 0px;
}

/* str scroll */
.scroll-overlay{
    height: 100vh;
    justify-content: center;
    font: inherit;
    align-self: start;
    height: max-content;
    display: flex;
    position: relative;
}
.scroll-container{
    position: relative;
    font: inherit;
    width: 232px;
    height: 327.378px;
}
.scroll-container-setter{
    cursor: auto;
    transition: transform 350ms, opacity 350ms;
    z-index: 1;
    transform: translateX(calc(-2px)) translateX(-100%) scale(0.9);
    opacity: 1;
    gap: 1px;
    translate: -100%;
}
.scroll-extra{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 232px;
    height: 327.378px;
}
.scroll-extra-img1{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
    display: block;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 20px;
}
.scroll-container-setter2{
    cursor: auto;
    transition: transform 350ms, opacity 350ms;
    z-index: 1;
    transform: translateX(0px) scale(1);
    opacity: 1;
    gap: 1px;
    translate: -100%;
}
.scroll-main-setter{
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 20px;
}
.srcoll-up-dire{
    bottom: 0px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) scale(1);
    transform-origin: 50% 100%;
    background: linear-gradient(rgb(76 138 204) 0%, rgb(57 145 216) 100%);
    position: absolute;
    box-sizing: border-box;
    font: inherit;
    height: 100vh;
}
.scroll-main-container{
    position: absolute;
    inset: 0px;
    z-index: 0;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit
}
.scroll-main-bg{
    color: transparent;
    transition-timing-function: cubic-bezier(0.35, 0, 0, 1);
    transition-property: transform;
    transform: translate(-50%, 0px) scale(1.75);
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform-origin: 50% 100%;
    object-fit: cover;
    object-position: center bottom;
}
.scroll-main-img{
    color: transparent;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
    pointer-events: none;
    display: block;
    width: auto;
    height: calc(572.911px);
}
.scroll-main-box{
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    height: 100%;
}
.srcoll-transperaate-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
    display: block;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 20px;
}
.scroll-container-setter3{
    cursor: auto;
    transition: transform 350ms, opacity 350ms;
    z-index: 0;
    transform: translateX(calc(-2px)) translateX(3%) scale(0.9);
    opacity: 1;
    gap: 1px;
    translate: -100%;
}
.scroll-setting{
    cursor: pointer;
    transition: transform 350ms, opacity 350ms;
    z-index: 1;
    transform: translateX(calc(-2px)) translateX(-100%);
    opacity: 1;
    gap: 1px;
    translate: -100%;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 232px;
    height: 327.378px;
}
.scrolling-sett{
    cursor: pointer;
    transition: transform 350ms, opacity 350ms;
    z-index: 1;
    transform: translateX(calc(-16px)) translateX(95%) scale(0.9);
    opacity: 1;
    gap: 1px;
    translate: -100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font: inherit;
    width: 23px;
    height: 327.378px;
}
.scroll-buttons{
    position: absolute;
    /* bottom: calc(-0.25rem); */
    bottom: 20px;
    left: 50%;
    transform: translate(-772%, 48px);
    /* position: relative; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    display: block;
}
.scroll-bittons-layout{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    color: #8d969e;
}
.scroll-buttons-item{
    isolation: isolate;
    height: 0.375rem;
    display: flex;
    justify-content: center;
    gap: 0.375rem;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-width: 0px;
    align-items: center;
}
.scroll-li{
    list-style-type: none;
    transition: 300ms cubic-bezier(0.15,0.5,0.5,1), height 300ms cubic-bezier(0.15,0.5,0.5,1) opacity 300ms cubic-bezier(0.15,0.5,0.5,1);
    opacity: 1;
    width: 0.5rem;
    height: 0.5rem;
}
.btn1{
    display: block;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 9999px;
    background-color: #8d969e;
    cursor: pointer;
}
.scroll-li-unselect{
    list-style: none;
    transition: 300ms cubic-bezier(0.15,0.5,0.5,1), height 300ms cubic-bezier(0.15,0.5,0.5,1) opacity 300ms cubic-bezier(0.15,0.5,0.5,1);
    opacity: 0.7;
    width: 0.375rem;
    height: 0.375rem;
}
.btn2{
    display: block;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 9999px;
    background-color: #8d969e;
    cursor: pointer;
}

/* end scroll */


/* end of old scroll */

.customer-section{
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    font: inherit;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    max-width: 1000px;
}
.customer-flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-height: 0px;
}
.customer-flex2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-height: 0px;
}
.customer-title1{
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    line-height: 1.75rem !important;
    letter-spacing: -0.015rem !important;
    text-align: start;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    color: #505a63;
    min-width: 0px;
}

.customer-brand-list{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
}
.customer-li-item{
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    min-width: 146px;
    max-width: 146px;
    /* rewt */
    /* padding-bottom: 10px; */
}
.inner-figure{
    display: flex;
    gap: 0.5rem;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-height: 0px;
    flex-direction: column;

}
.figure-setter{
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.figure-img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: contain;
    color: transparent;
}
.figure-roll{
    aspect-ratio: 2.5;
    width: 100%;
    height: 100%;
    padding-bottom: calc(1/(2.5)*100);
}
.figure-caption{
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1.375rem !important;
    letter-spacing: normal;
    text-align: center;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-width: 0px;
}

.figure-container{
    position: relative;
    padding: unset;
    font: inherit;
    overflow: hidden;
}

.go-virtual-container{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    background-color: #000;
    color: #f4f4f4;
    width: 100%;
}
.go-virtual-section{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    min-height: 640px;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
}
.go-virtual-setter{
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: opacity 600ms;
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    /* opacity: 1; */
}
.go-virtual-overlay{
    will-change: transform;
    transform: translateY(3.83333px);
    position: relative;
    box-sizing: border-box;
    font: inherit;
    width: 100%;
    height: 100%;
}
.go-virtual-layout{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    height: 100%;
    /* transform: translateY(60px);  */
}
.vedio1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}
.step-vedio{
    display: none;
}

.go-virtual-upper-container{
    transition: opacity 300ms ease-in-out;
    opacity: 1;
    position: relative;
    align-content: initial;
    grid-template-areas: "content" "media" "tabs" !important;
    grid-template-rows: auto 1fr auto !important;
    height: 100%;
    min-height: 640px;
    width: 100%;
    max-width: 1000px;
    padding-top: 48px;
    display: grid;
    grid-template: "content" "media" 1fr / auto;
    text-align: start;
    box-sizing: border-box;
    font: inherit;
}
.go-virtual-upper{
    display: grid;
    grid-template: "text";
    box-sizing: border-box;
    font: inherit;
    grid-area: content;
}
.go-virtual-upper-span{
    visibility: visible;
    max-width: 1000px;
    gap: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    align-items: start;
    margin-bottom: 32.6rem;
    flex-direction: column;
    box-sizing: border-box;
    font: inherit;
    color: #f4f4f4;
    min-height: 0px;
    display: flex;
    grid-area: text;
}
.go-virtual-title{
    opacity: 1;
    transition: none;
    transform: translateY(0px);
    font-family: 'Medium', sans-serif !important;
    font-size: 2.25rem !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    white-space: pre-wrap;
    box-sizing: border-box;
    font: inherit;
    min-width: 0px;
}
.go-virtual-text-container{
    opacity: 1;
    transition: none;
    transform: translateY(0px);
    flex-direction: column;
    gap: 0.25rem;
    font: inherit;
    width: 100%;
    min-height: 0px;
    display: flex;
}
.go-virtual-secription{
    font-family: 'Medium', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    letter-spacing: normal;
    box-sizing: border-box;
    font: inherit;
    min-width: 0px;
}
.go-virtual-smalltext{
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
    letter-spacing: 0.01125rem !important;
    box-sizing: border-box;
    font: inherit;
    min-width: 0px;
}
.govirtual-btn-container{
    opacity: 1;
    transition: none;
    transform: translateY(0px);
    flex-direction: row;
    gap: 0.5rem;
    box-sizing: border-box;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    font: inherit;
    margin-top: 0.25rem;
    min-width: 0px;
    display: flex;
}
.govirtual-btn-link{
    text-decoration: none;
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1.375rem !important;
    letter-spacing: normal;
    height: auto;
    width: min-content;
    max-width: 240px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f4f4f4;
    color: #000;
    border-radius: 9999px;
    text-align: center;
    border: none;
    font: inherit;
    outline-color: transparent;
    min-width: 0px;
    /* background-color: transparent; */
    --rui-color-state-overlay: transparent;
    isolation: isolate;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.govirtual-btn-setter{
    position: absolute;
    inset: 0px;
    display: block;
    border-radius: inherit;
    transition: inherit;
    background-color: transparent;
    pointer-events: none;
    z-index: 1;
}
.govirutual-btn{
    display: block;
    max-width: 100%;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
}

.go-virtual-footer{
    position: absolute;
    bottom: 2rem;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 18px;
    font: inherit;
    margin-left: 15px;
    margin-right: auto;
    margin-top: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: fit-content;
    overflow: visible;
    align-self: flex-start;
    max-width: 100%;
}
.go-virtual-footer-span{
    gap: 0.75rem;
    max-width: 100vw;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: calc(-1 * 1.25rem);
    margin-right: calc(-1 * 1.25rem);
    overflow-x: scroll;
    scrollbar-width: none;
    flex-direction: row;
    font: inherit;
    min-width: 0px;
    display: flex;
}
.go-virtual-footer-btn1{
    cursor: pointer;
    position: relative;
    height: 42px;
    padding-left: 26px;
    padding-right: 26px;
    min-width: min-content;
    background-color: #f4f4f4;
    background-image: unset;
    color: white;
    border: 2px solid white;
    -webkit-tap-highlight-color: transparent;
    backdrop-filter: blur(16px);
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1.375rem;
    letter-spacing: normal;
    width: min-content;
    max-width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    outline-color: transparent;
    background: transparent;
    isolation: isolate;
    isolation: isolate;
    --rui-color-state-overlay: transparent;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 999px;
}
.go-virtual-btn-span{
    position: absolute;
    inset: 0px;
    display: block;
    border-radius: 999px;
    background-color: transparent;
    pointer-events: none;
    z-index: 1;

}
.go-virtual-footer-btn-text{
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
}

.go-virtual-footer-btn2{
    cursor: pointer;
    position: relative;
    height: 42px;
    padding-left: 24px;
    padding-right: 24px;
    min-width: min-content;
    background-color: rgb(244, 244, 244) / 0.1;
    background-image:  unset;
    color: #f4f4f4;
    border: none;
    backdrop-filter: blur(16px);
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1.375rem;
    letter-spacing: normal;
    width: min-content;
    max-width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 999px;
    color: #000;

}
.gov-virtual-btn-setter2{
    position: absolute;
    inset: 0px;
    display: block;
    border-radius: inherit;
    transition: inherit;
    background-color: transparent;
    pointer-events: none;
    z-index: -1;
}
.go-virtual-footer-btn-text2{
    display: block;
    max-width: 100%;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
}


.saving-section{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    min-height: 640px;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
}
.saving-container{
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: opacity 600ms;
    position: absolute;
    box-sizing: border-box;
    font: inherit;
     /* top: -27.5px */
}
.saving-dynamic-part{
    /* will-change: transform; */
    /* transform: translateY(-27.5px); */
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    height: 100%;
}
.dynamic-part1{
    position: relative;
    padding: unset;
    box-sizing: border-box;
    margin: 0px;
    font: inherit;
    overflow: hidden;
    height: 100%;
}
.dynamic-layout{
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.dynamic-img1{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-position: center center;
    color: transparent;
    object-fit: cover;
}
.dynamic-roll{
    aspect-ratio: 1.7045454545454546;
    width: 100%;
    height: 0px;
    padding-bottom: calc(1 / (1.7045454545454546) * 100%);
}
.saving-grid-section{
    transition: opacity 300ms ease-in-out;
    opacity: 1;
    position: relative;
    align-content: initial;
    grid-template-areas: "content" "media" "tabs" !important;
    grid-template-rows: auto 1fr auto !important;
    height: 100%;
    min-height: 640px;
    width: 100%;
    max-width: 1000px;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    display: grid;
    grid-template: "content" "media" 1fr / auto;
    text-align: start;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
}
.saving-grid-container{
    display: grid;
    grid-template: "text";
    box-sizing: border-box;
    font: inherit;
    grid-area: content;
}
.bg-dynamic-setter{
    visibility: visible;
    max-width: 1000px;
    gap: 1rem;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    align-items: start;
    /* margin-bottom: 1.5rem !important; */
    margin-bottom: 4.5rem !important;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    color: #f4f4f4;
    min-height: 0px;
    display: flex;
    grid-area: text;
}
.saving-title{
    opacity: 1;
    transition: none;
    transform: translateY(0px);
    font-family: 'Medium', sans-serif !important;
    font-size: 2.25rem !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    white-space: pre-wrap;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-width: 0px;
}
.saving-little-span{
    opacity: 1;
    transition: none;
    transform: translateY(0px);
    flex-direction: column;
    gap: 0.25rem;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    min-height: 0px;
    display: flex;
}
.saving-description{
    font-family: 'Medium', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    letter-spacing: normal !important;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-width: 0px;
}
.saving-description2{
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
    letter-spacing: 0.01125rem !important;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-width: 0px;
}
.saving-btn-container{
    opacity: 1;
    transition: none;
    transform: translateY(0px);
    flex-direction: row;
    gap: 0.5rem;
    box-sizing: border-box;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    font: inherit;
    margin-top: 0.25rem;
    min-width: 0px;
    display: flex;
    padding-left: -0.5rem;
    padding-right: 0.5rem;
}
.explor-savings{
    text-decoration: none;
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1.375rem !important;
    letter-spacing: normal !important;
    height: auto;
    width: min-content;
    max-width: 240px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  #f4f4f4 !important;
    color: #000;
    border-radius: 999px;
    text-align: center;
    position: relative;
    border: none;
    font: inherit;
    outline-color: transparent;
    background: transparent;
    margin: 0px;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explor-savings-text{
    display: block;
    max-width: 100%;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
}
.dynamic-center-container{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    align-self: center;
    height: 100%;
    min-height: 388px;
    max-height: 388px;
    grid-area: media;
}
.dynamic-center-setter{
    aspect-ratio: 0.842697 / 1;
    inset: 0px;
    transition: opacity 600ms ease-in-out;
    position: absolute;
    box-sizing: border-box;
    padding: 0px;
    font: inherit;
    margin: auto;
    height: 100%;
}
.dynamic-center-layout{
    aspect-ratio: 0.842697 / 1;
    position: relative;
    box-sizing: border-box;
    font: inherit;
    height: 100%;
}
.dynamic-center-img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-position: center center;
    color: transparent;
    object-fit: cover;
}
.dynamic-center-footer{
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font: inherit;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: fit-content;
    overflow: visible;
    align-self: flex-start;
    max-width: 100%;
    grid-area: tabs;
    position: absolute;
    bottom: -24px;
    left: -28px;

}
.dynamic-buttons-section{
    gap: 0.75rem;
    max-width: 100vw;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: calc(-1*(1.25rem));
    margin-right: calc(-1(1.25rem));
    overflow-x: scroll;
    scrollbar-width: none;
    flex-direction: row;
    font: inherit;
    min-width: 0px;
    display: flex;
}
.dynamic-btn1{
    cursor: pointer;
    background-color: #f4f4f4;
    opacity: 0.85;
    position: relative;
    height: 42px;
    padding-left: 26px;
    padding-right: 26px;
    min-width: min-content;
    background-image: unset;
    color: #000;
    border: none;
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size:  1rem;
    line-height: 1.375rem;
    letter-spacing: normal;
    width: min-content;
    max-width: 240px;
    padding-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    outline-color: transparent;
    background: transparent;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dynamci-adventure{
    display: block;
    max-width: 100%;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
}
.explor-savings-text-ad{
    display: block;
    max-width: 100%;
    padding-left: 0.20rem;
    padding-right: 0.05rem;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
}
.wedding-btn1{
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.2);
    opacity: 0.85;
    position: relative;
    height: 42px;
    padding-left: 24px;
    padding-right: 24px;
    min-width: min-content;
    background-image: unset;
    color: #f4f4f4;
    border: 2px solid;
    backdrop-filter: blur(16px);
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1.375rem !important;
    letter-spacing: normal !important;
    width: min-content;
    max-width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 999px;
}
.white-section{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    min-height: 640px;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
}
.white-section-container{
    transition: opacity 300ms ease-in-out;
    opacity: 1;
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    display: grid;
    grid-template: "content" "media" 1fr / 1fr;
    justify-content: space-between;
    text-align: start;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
}
.whit-text-layout{
    max-width: 1000px;
    gap: 1rem;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    align-items: start;
    margin-bottom: 1.5rem !important;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    color: #000;
    align-self: flex-start;
    min-height: 0px;
    display: flex;
    grid-area: content;
}
.white-text{
    font-family: 'Medium', sans-serif !important;
    font-size: 2.25rem !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    white-space: pre-wrap;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-width: 0px;
    
}
.white-description-container{
    flex-direction: column;
    gap: 0.25rem;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-height: 0px;
    display: flex;
}
.white-description-setter{
    font-family: 'Medium', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    letter-spacing: normal;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-width: 0px;
}
.p-margin{
    margin: 18px 0px;
}
.learn-more-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    box-sizing: border-box;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    font: inherit;
    margin-top: 0.25rem;
    min-width: 0px;
}
.learn-more-link{
    text-decoration: none;
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1.375rem !important;
    letter-spacing: normal;
    height: auto;
    width: min-content;
    max-width: 240px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #191c1f;
    color: #fff;
    position: relative;
    border: none;
    font: inherit;
    outline-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lear-more-margin{
    margin-top: 4px;
}
.learn-more-text{
    display: block;
    max-width: 100%;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
}
.icon-vedio-container{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    align-self: center;
    height: 100%;
    min-height: 446px;
    max-height: 446px;
}
.icon-vedio-setter{
    aspect-ratio: 0.75 / 1;
    inset: 0px 20px;
    margin: auto;
    max-height: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 0px;
    font: inherit;
}
.icon-vedio-layout{
    aspect-ratio: 0.75 / 1;
    position: relative;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font: inherit;
    width: 100%;
    height: 100%;
}
.icon-setter{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    height: 100%;
}
.icon-vedio{
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}
.black-discover-container{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    background-color: #000;
    color: #f4f4f4;
    width: 100%;
}
.black-discover-section{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    min-height: 640px;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
}
.black-discover-layout{
    transition: opacity 300ms ease-in-out;
    opacity: 1;
    position: relative;
    align-content: initial;
    grid-template-areas: "content" "media" "tabs" !important;
    grid-template-rows: auto 1fr auto !important;
    height: 100%;
    min-height: 640px;
    width: 100%;
    max-width: 1000px;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    display: grid;
    grid-template: "content" "media" 1fr / auto;
    text-align: start;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
}
.black-discover-lay{
    display: grid;
    grid-template: "text";
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    grid-area: content;
}
.text-setter{
    visibility: visible;
    max-width: 1000px;
    gap: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    align-items: start;
    margin-bottom: 1.5rem;
    flex-direction: column;
    font: inherit;
    color: #f4f4f4;
    min-height: 0px;
    display: flex;
    grid-area: text;
}
.black-title{
    opacity: 1;
    transition: none;
    transform: translateY(0px);
    font-family: 'Medium', sans-serif !important;
    font-size: 2.25rem !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    white-space: pre-wrap;
    box-sizing: border-box;
    font: inherit;
    min-width: 0;
}
.black-secription-setter{
    opacity: 1;
    transition: none;
    transform: translateX(0px);
    flex-direction: column;
    display: flex;
    gap: 0.25rem;
    font: inherit;
    width: 100%;
    min-height: 0px;
    display: flex;
}
.black-decription{
    font-family: 'Medium', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    letter-spacing: normal;
    box-sizing: border-box;
    font:  inherit;
    min-width: 0px;
}
.black-vedio-container{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    align-self: center;
    height: 100%;
    min-height: 388px;
    max-height: 388px;
    grid-area: media;
}
.black-vedio-setter{
    opacity: 1;
    inset: 0px;
    transition: opacity 600ms ease-in-out;
    position: absolute;
    box-sizing: border-box;
    padding: 0px;
    font: inherit;
    margin: auto;
    height: 100%; 
}
.black-vedio-layout{
    aspect-ratio: 1;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    height: 100%;
}
.black-vedio-overlay{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    width: 100%;
    height: 100%;
}
.black-vedio{
    width: 100%;
    height: 100%;
    object-fit: contain;
    backface-visibility: hidden;
    margin-bottom: 20px;
}
.black-vedio-spare{
    display: none;
}
.black-footer{
    position: relative;
    bottom: 2rem;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: fit-content;
    overflow: visible;
    
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;

}
.Join-section{
    align-items: center;
    display: flex;
    position: relative;
    font: inherit;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    max-width: 1000px;
}
.join-container{
    position: relative;
    flex-direction: column;
    display: flex;
    font: inherit;
}
.join-header-section{
    display: flex;
    flex-direction: column;
    padding-inline: 0px;
    margin-block: 0px;
    gap: 1rem;
    justify-content: start;
    text-align: start;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    font: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}
.join-title{
    color: #000;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 32px !important;
    line-height: 1 !important;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    min-width: 0px;
}
.join-btn-setter{
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
    font: inherit;
    display: flex;
}
.join-body-section{
    padding-bottom: 60px;
    padding-top: 0px;
    font: inherit;
    margin: 0px auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: #191c1f;
    width: 100%;
    max-width: 1000px;
}
.join-body-container{
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
    letter-spacing: 0.01125rem !important;
    text-align: start;
    min-width: 0px;
    font: inherit;
}
.join-body-smalltext{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 1.25rem;
}
.join-body-text-links{
    text-decoration: underline;
    color: inherit;
    min-width: 0px;
}
footer{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    max-width: initial;
    padding: 0px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #191c1f;
    margin-left: auto;
    margin-right: auto;
}
.footer-title1{
    color: #fff;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: left;
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1.75rem !important;
    line-height: 2rem !important;
    letter-spacing: -0.28px !important;
}
.footer-card-section{
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    font: inherit;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    width: 100%;
    max-width: 1000px;    
}
.footer-card-ul{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}
.footer-card-li{
    background-color: #f7f7f7;
    color: #000;
    min-width: 0px;
    padding-bottom: 0px !important;
    list-style: none;
    border-radius: 20px;
    grid-column: 1;
    padding: 24px 24px 0px;
}
.footer-card-item1{
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    padding-bottom: 1rem;
    word-break: break-word;
    min-width: 0px;
    color: inherit;
    text-decoration: none;
}
.footer-card-span{
    align-items: flex-end;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
    flex-direction: column;
    height: 100%;
    min-height: 0px;
    display: flex;
}
.footer-card-innerspan{
    flex-direction: column;
    gap: 0.25rem;
    min-height: 0px;
    display: flex;
}
.footer-card-h2{
    font-family: 'Medium', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1.375rem !important;
    line-height: 1.625rem !important;
    letter-spacing: -0.01375rem !important;
    min-width: 0px;
}
.footer-card-h3{
    font-family: 'Medium', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    letter-spacing: normal !important;
    min-width: 0px;
}
.footer-card-decription{
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    line-height: 1.375rem !important;
    letter-spacing: -0.00438rem !important;
    white-space: pre-line;
    color: #505a63;
    min-width: 0px;
}
.footer-card-end-container{
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.footer-card-end-span{
    display: flex;
    align-items: center;
    place-self: end;
    border-radius: 9999px;
    color: #191c1f;
    flex-shrink: 0;
    height: 32px;
    justify-content: center;
    transition: 0.3s;
    width: 32px;
}
.footer-card-arrow{
    background-image: url("https://assets.revolut.com/assets/icons/ArrowThinRight.svg");
    background-color: currentColor;
    mask-image: url("https://assets.revolut.com/assets/icons/ArrowThinRight.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    width: 24px;
    height: 24px;
    margin-right: 1px;
    display: block;
    flex: 0 0 auto;
}
.footer-card-section-end{
    order: 1000;
    color: #8d969e;
    margin-bottom: 2.5rem !important
    ;
    margin: 0px auto;
    width: 100%;
    max-width: 1000px;
}
.footer-endsection-container{
    font-family:  'Inter', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
    letter-spacing: 0.01125rem !important;
    text-align: start;
    min-width: 0px;
}
.para{
    margin-bottom: 1.25rem;
}
b{
    font-weight: bolder;
}
.footer-plan-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.footer-plan-part1{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0.5rem;
    width: 100%;
}
.footer-plan-btn{
    cursor: pointer;
    width: 100%;
    border: none;
    box-sizing: border-box;
    color: inherit;
    text-align: inherit;
    text-decoration: none;
    background: transparent;
    border-radius: 0.75rem;
    position: relative;
    isolation: isolate;
}
.footer-plan-btn-respo{
    display: none;
}
.footer-plan-setter{
    display: flex;
    flex-direction: row;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 0px;
    display: flex;
}
.footer-plan-h2{
    font-family: 'Inter', sans-serif !important;
    font-weight: 600 !important;
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
    letter-spacing: 0.0075rem !important;
    margin: 0px auto 0px 0px;
    padding: 0px;
    color: #fff;
    min-width: 0px;
}
.footer-plan-downarrow{
    background-color: currentColor;
    mask-image: url("https://assets.revolut.com/assets/icons/16/ChevronDownSmall.svg");
    mask-repeat: no-repeat;
    color: white;
    mask-size: 100% 100%;
    width: 16px;
    height: 16px;
    display: block;
}
.footer-icon-section{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding-bottom: 0.5rem;
    min-width: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #8d969e;
}
.footer-icon-li{
    list-style: none;
    width: 100%;
}
.footer-icons{
    align-items: center;
    display: flex;
    height: 1.5rem;
}
.footer-icon1{
    margin-top: -2;
    height: 1rem;
}
.footer-icon-link{
    display: block;
    padding: 8px;
    text-align: center;
}
.setting-icons{
    display: flex;
    gap: 8px;
}
.footer-linked-icons{
    color: #8d969e;
    background-color: currentColor;
    mask-image: url("https://assets.revolut.com/assets/icons/LogoFacebook.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    width: 16px;
    height: 16px;
    display: block;
}
.footer-linked-icons2{
    color: #8d969e;
    background-color: currentColor;
    mask-image: url("https://assets.revolut.com/assets/icons/LogoInstagram.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    width: 16px;
    height: 16px;
    display: block;
}
.footer-linked-icons3{
    color: #8d969e;
    background-color: currentColor;
    mask-image: url("https://assets.revolut.com/assets/icons/LogoTwitter.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    width: 16px;
    height: 16px;
    display: block;
}
.footer-linked-icons4{
    color: #8d969e;
    background-color: currentColor;
    mask-image: url("https://assets.revolut.com/assets/icons/LogoLinkedIn.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    width: 16px;
    height: 16px;
    display: block;
}
.footer-linked-icons5{
    color: #8d969e;
    background-color: currentColor;
    mask-image: url("https://assets.revolut.com/assets/icons/LogoTikTok.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    width: 16px;
    height: 16px;
    display: block;
}
.footer-uk-section{
    display: grid;
    column-gap: 2rem;
    row-gap: 0.75rem;
    grid-template-columns: auto auto 1fr;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 2.5rem;
}
.uk-btn{
    cursor: pointer;
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
    letter-spacing: 0.01125rem !important;
    height: 26px;
    display: flex;
    align-items: center;
    color: #8d969e;
    width: max-content;
    max-width: 100%;
    position: relative;
    text-align: inherit;
    outline-color: transparent;
    background-color: transparent;
    border-radius: 0.75rem;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    border: none;
}
.uk-span{
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
}
.uk-img{
    color: transparent;
    overflow: hidden;
    position: relative;
    min-width: 14px;
    max-width: 100%;
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    display: inline-block;
}
.website-terms-section{
    display: flex;
    flex-wrap: wrap;
    grid-area: 2 / 1 / auto / span 3;
    list-style: none;
}
.website-terms-li{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    margin-right: 1.5rem;
}
.websit-terms-text{
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
    letter-spacing: 0.01125rem !important;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: #8d969e;
    min-width: 0px;
    display: block;
}
.new-footer-card{
    display: none;
}
.fff{
    display: none;
}

/* mobile L */

@media screen and (min-width: 425px) {
    .main-text1{
        font: 'Black';
    }
    .main-item-img{
        width: 1651.1px;
        height: 932.28px;
        zoom: 1.08;
    }
    .inside-box {
        height: 535px;
    }
    .go-virtual-footer-span{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
}

/* Tablet */
@media screen and (min-width: 768px){
    .main-text1{
        font-size: 80px !important;
        letter-spacing: -0.13rem !important;
    }
    .inside-box{
        width: 433.55px;
        height: 609.31px;
    }
    .section-two{
        padding-top: 3rem;
    }
    .main-text2{
        gap: 0.5rem;
        margin-top: 7px;
    }
    .Dowload-at-tab{
        margin-top: 10px;
    }
    .at-tab-1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 24px;

    }
    .at-tab2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scroll-container-setter {
        transform: translateX(calc(-2px)) translateX(102%) scale(0.9);
    }
    .scroll-container-setter2 {
        transform: translateX(247px) scale(1);
    }
    .scroll-container-setter3{
        transform: translateX(calc(-2px)) translateX(113%) scale(0.9);
    }
    .salary-title{
        font-size: 3rem !important;
        letter-spacing: -0.0375rem !important;
    }
    .salary-description {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .scroll-buttons{
        display: none;
    }
    .customer-flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .customer-li-item-response{
        max-width: 231px;
    }
    .customer-li2-item-response{
        max-width: 316px;
    }
    .customer-flex2{
        align-self: auto;
    }
    .go-virtual-upper-span{
        align-items: center;
        margin-bottom: 0px;
    }
    .go-virtual-title {
        font-size: 48px !important;
        letter-spacing: -0.0375rem !important;
    }
    .go-virtual-text-container{
        align-items: center;
        text-align: center;
        gap: 8px;
    }
    .bg-dynamic-setter {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .saving-title{
        font-size: 48px !important;
        letter-spacing: -0.0375rem !important;
        font-family: 'Medium', sans-serif !important;
        font-weight: 500 !important;
        line-height: 1;
    }
    .saving-little-span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-align: center;
    }
    .dynamic-center-img{
        width: 436px;
        height: 218px;
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-55px);
    }
    .saving-section{
        width: 768px;
        height: 640px;
    }
    .dynamic-center-footer {
        transform: translateY(-118px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 204px;
    }
    .dynamic-center-setter {
        transform: translateY(-19px);
    }
    .go-virtual-footer-span {
        transform: translateX(171px);
    }
    .step-vedio{
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .whit-text-layout{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .white-text{
        font-size: 48px !important;
        letter-spacing: -0.0375rem !important;
        font-family: 'Medium', sans-serif !important;
        font-weight: 500 !important;
        line-height: 1 !important;
    }
    .icon-vedio{
        object-fit: contain;
        width: 232.5px;
        height: 310px;
    }
    .icon-vedio-setter{
        transform: translateX(49px);
    }
    .white-section{
        height: 640px;
    }
    .icon-vedio-container {
        height: 310px;
        transform: translateY(130px);
    }
    .text-setter{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .black-title{
        font-size: 48px !important;
        letter-spacing: -0.0375rem !important;
    }
    .black-vedio-spare{
        display: block;
        object-fit: contain;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: translateX(191px) scale(1.2);
    }
    .black-vedio{
        display: none;
    }
    .black-discover-section{
        height: 640px;
    }
    .black-vedio-container{
        transform: translateY(-75px);
    }
    .black-footer{
        transform: translateY(-139px);
    }
    .black-footer-response{
        transform: translateX(-10px);
    }
    .join-title {
        font-size: 48px !important;
        letter-spacing: -0.0375rem !important;
    }
    .join-header-section{
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 14px;
    }
    .footer-card-ul {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }

    /*  */
    .footer-card-section{
        display: none;
    }
    .new-footer-card{
        box-sizing: border-box;
        padding-top: 0px;
        padding-bottom: 0px;
        font: inherit;
        /* margin-bottom: 1.25rem; */
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.25rem;
        width: 100%;
        max-width: 1000px;
        display: flex;
    }
    .new-footer-ul{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-card-li-new{
        background-color: #f7f7f7;
        color: #000;
        min-width: 0px;
        padding-bottom: 0px !important;
        list-style: none;
        border-radius: 20px;
        padding: 24px 24px 0px;
    }
    .fff{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .new-footer-card2{
        box-sizing: border-box;
        padding-top: 0px;
        padding-bottom: 0px;
        font: inherit;
        margin-bottom: 1.25rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.25rem;
        width: 100%;
        max-width: 1000px;
        display: flex;
    }
    .footer-plan-container{
        gap: 1rem;
        flex-direction: row;
    }
    .footer-plan-btn{
        display: none;
    }
    .footer-plan-btn-respo{
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0.5rem;
        /* padding-right: 1rem; */
        overflow: hidden;
        display: block;
    }
    .footer-plan-h2{
        margin: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .footer-plan-newtitle{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-family: 'Inter', sans-serif !important;
        font-weight: 400 !important;
        font-size: 0.75rem !important;
        line-height: 1.125rem !important;
        letter-spacing: 0.01125rem !important;
        color: #8d969e;
        display: block;
    }
    .footer-plan-container{
        display: none;
    }
    .footer-company-response{
        gap: 1rem;
        display: flex;
        flex-direction: row;
        /* padding-left: 1.25rem;
        padding-right: 1.25rem; */
        justify-content: space-between;
        width: 100%;
    }
    .footer-company-width-setter{
        width: 100%;
    }
    .footer-company-container{
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0.5rem;
        padding-right: 1rem;
        overflow: hidden;
    }
    .footer-plan-links{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-family: 'Inter', sans-serif !important;
        font-weight: 400 !important;
        font-size: 0.75rem !important;
        line-height: 1.125rem !important;
        letter-spacing: 0.01125rem !important;
        padding-right: 0px;
        padding-left: 0px;
        color: #8d969e;
        min-width: 0px;
        text-decoration: none;
        word-break: break-word;
        display: block;
    }
}